
.container {
  width: 80%;
  max-width: 1200px;
  margin: 10% auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-around;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
  font-size: 1em;
  width: 50%;
}
.flex-outer li input:invalid {
  border-right: 2px solid red;
}

.flex-outer li button {
  font-size: .75em;
  margin: auto;
  padding: 16px 64px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 150px;
}

.flex-outer li button:hover {
  color: palevioletred;
}
