
.container {
  width: 80%;
  max-width: 1200px;
  margin: 5% auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer h1 {
  text-align: center;
}
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: center;
  align-content: center;
}
input[type="radio"]{
  vertical-align: middle;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  vertical-align: middle;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea,
.flex-outer .icon select{
  padding: 15px;
  border: none;
  font-size: 1em;
  width: 50%;
}
.flex-outer li input:invalid,
li select:invalid {
  border-right: 2px solid red;
}
.flex-outer input[type=number]::-webkit-inner-spin-button,
.flex-outer input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.flex-outer li button {
  font-size: .75em;
  margin: auto;
  padding: 16px 64px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 150px;
}

.flex-outer li button:hover {
  color: palevioletred;
}

.flex-outer .icon {
  position: relative;
}

.flex-outer .icon:after {
  content: '\f078';
  font: normal 14px FontAwesome;
  color: #444;
  position: absolute;
  pointer-events: none;
  right: 28%;
  top: 35%;
}

select::-ms-expand {
  display: none;
}

.flex-outer .icon select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  /* Add some styling */
  outline: 0;
  display: block;
  font-style: inherit;
  color: #999;
  background-color: #ffffff;
  background-image: none;
  border: none;
  -ms-word-break: normal;
  word-break: normal;
  text-transform: capitalize;
}
