body{
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: #ffffff;
    padding: 50px 0;
}

nav{
    background: #222;
    position: fixed;
    height: 75px;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
}
/* logo image */
.logo{
    position: fixed;
    left: 30px;
    top: 10px;
}

/* Name plate */
.nameplate{
    position: fixed;
    right: 20px;
    top: 20px;
    text-transform: uppercase;
    font: bold 20px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}


/* Menu button */
.menuButton {
    position: fixed;
    left: 200px;
    top: 20px;
    display: inline-block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f2f2f2;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 70px; /* Stay at the top */
    left: 0;
    background-color: #222; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
    color: #db7093;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#logout > a{
    color: #3AAFAB;
    font-size: 18px;
}

#logout > a:hover {
    color: #db7093;
}

#welcome-bars { margin-left: 45%; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Mobile responsive design: moving the dropdown button to prevent overlap on cellphones.*/
@media screen and (max-width: 400px) {
    .menuButton {left: 120px;}
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #303030;
    padding-left: 12%;
}

.dropdown-container a {
    font-size: 18px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.graph {
    margin: 0 auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}