body{
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: #ffffff;
    padding: 50px 0;
}

nav{
    background: #222;
    position: fixed;
    height: 75px;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
}
/* logo image */
.logo{
    position: fixed;
    left: 30px;
    top: 10px;
}

/* Name plate */
.nameplate{
    position: fixed;
    right: 20px;
    top: 20px;
    text-transform: uppercase;
    font: bold 20px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}


/* Menu button */
.menuButton {
    position: fixed;
    left: 200px;
    top: 20px;
    display: inline-block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f2f2f2;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 70px; /* Stay at the top */
    left: 0;
    background-color: #222; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
    color: #db7093;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #303030;
    padding-left: 12%;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.graph {
    margin: 0 auto;
}