body{
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #3AAFAB;
  color: #000;
  padding: 50px 0;
}

table {
  width: 80%;
  margin: 10px auto;
  border: solid 2px #cf661a;
  border-radius: 3px;
  color: #cf661a;
}

h1, h3 {
  color: #fff;
}
td {
  text-align: center;
}