#harvest-queue-table, #entry-queue-table { display: none; }

#harvest-table-title, #harvest-queue-table { text-align: center; }

.contain {
    width: 90%;
    max-width: 1200px;
    margin: 2% auto;
    height: 250px;
    overflow-y: scroll;
}

.contain * {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead th {
    text-transform: uppercase;
    background-color: #222;
}

tbody{
    height: 200px;
    overflow-y: scroll;
}

th, td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(odd) {
    background-color: #303030;
}

tr:nth-child(even) {
    background-color: #343434;
}