body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: #ffffff;
    padding: 50px 0;
}

header{
    font: normal 24px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 70px;
    background: #333333;
    color: #f2f2f2;
    border-bottom: 1px solid #3f3f3f;

    position: fixed;
    padding: 0;
    margin: auto;
    top: 0;
    left: 0;

}

nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    background: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    display: inline-block;
    text-decoration: none;
}