body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: #ffffff;
    padding: 50px 0;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    background: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 75px;
}

nav .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    display: inline-block;
    text-decoration: none;
}